<header>
  <a href="">
    <div class="logo-inner"></div>
    <img src="/assets/logo.svg" alt="logo" class="logo">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a routerLink="news/1" routerLinkActive="active">Angular HN</a>
      </h1>
      <nav>
        <a routerLink="newest/1"  routerLinkActive="active">new</a>
        <span>|</span>
        <a routerLink="show/1"  routerLinkActive="active">show</a>
        <span>|</span>
        <a routerLink="ask/1"  routerLinkActive="active">ask</a>
        <span>|</span>
        <a routerLink="jobs/1" routerLinkActive="active">jobs</a>
      </nav>
    </div>
    <div class="info">
      Build with <a href="https://cli.angular.io" target="_blank">Angular CLI</a>
    </div>
  </div>
</header>